@import url(reset.css);

.header {
    height:60px;
    margin: auto;
    width:100%;
    background-color:blue;
}

.tab {
    display: flex;
}
.lvl1 {
    height:40px;
    margin: left;
}

.lvl2 {
    height:40px;
    margin: auto;
    color: blue;
}
.lvl3 {
    height:40px;
    margin: right;
}

.loose {
    text-align: center;
    font-size: 90px;
}

.word {
    text-align: center;
    height: 90px;
    margin: auto;
    font-size: 70px;
    font-family: 'Merriweather', serif;}

.letter_false {
    margin-left: 80px;
}

.centering {
    align-items: center;
}

.button {
    font-family: 'Merriweather', serif;
    border-radius: 8px;
    background-color:blue;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button_false {
    font-family: 'Merriweather', serif;
    border-radius: 8px;
    background-color: red;
    border: none;
    color: grey;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}




.headerTittle {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imgHangman {
    display: flex;
    justify-content: center;
}
/* 
.imgHangman2 {
    justify-content: center;
} */
